.name {
    margin-top: 60px;
  margin-left: 500px;
  color: white;
}

.container {
    box-shadow: 2px 4px 20px rgb(30 30 30 / 5%);

    background-position: center top 50%;

    height: 350px;
    padding: 0;
    margin-left: 0;

    img {


        height: 350px;
    }
}


.photo {
    border: solid 2px black;
    height: 120px;
    width: 120px;

    margin-top: -70px;
    /* margin-left: 300px; */
    position: absolute;
background-color: white;
border-color: white;
    z-index: 1;
    /* margin-left: 500px; */
    border-radius: 50%;
}
